main{
    display: flex;
}
main *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
section{
    width: 98vw;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
section>div{
    width: 100px;
    height: 100px;
    background-color: red;
}
#rotate>div:hover{
    transform: rotate(270deg);
    transition-duration: 2s;
    background-color: blue;
}
#scale>div:hover{
    transform: scale(2);
    transition-duration: 2s;
    background-color: blue;
}
#scale-down>div:hover{
    transform: scale(0);
    transition-duration: 2s;
    background-color: blue;
}
#skew-right>div:hover{
    transform: skew(-45deg);
    transition-duration: 2s;
    background-color: blue;
}
#skew-left>div:hover{
    transform: skew(45deg);
    transition-duration: 2s;
    background-color: blue;
}
#translate>div:hover{
    transform: translate(500px);
    transition-duration: 2s;
    background-color: blue;
}
#translate-dir>div:hover{
    transform: translate(200px,-200px);
    transition-duration: 2s;
    background-color: blue;
}
